@import 'tailwindcss';
@plugin "daisyui" {
  themes: dark --default;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  color-scheme: dark;

  /* 3 primary colors */
  --color-primary: #428038;
  --color-secondary: #131712;
  --color-accent: #787d7a;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: false;
  color-scheme: light;

  /* 3 primary colors */
  --color-primary: #428038;
  --color-secondary: #353734;
  --color-accent: #8b5cf6;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

:root {
  --hero-bottom-shape-1: rgba(255, 255, 255, 0.12);
}

/* swiper for hero */
.swiper-slide {
  opacity: 0 !important;
}

.swiper-slide-active {
  opacity: 1 !important;
}
